<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: blanchedalmond;"><%= title %></h1>
    <h1 style="color: blanchedalmond;">Dashboard Customer</h1>
      <% if(msg != '') { %>
        <h1 style="color: lightblue;"><%= msg %></h1>
      <% } %>
      <a href="/dashboardcustomer">
        <em style="color: rgb(71, 157, 255);">
            <% if(loginUser){ %>  
            <%= loginUser %> 
            <% } %>
        </em>   
      </a>
      <br/><br/>
      <form action="/signout" method="post" role="form">
        <button type="submit"><em style="color: rgb(71, 157, 255);">Sign out</em></button>
      </form>
      <a href="/addnewdata">Add New Data</a>
      
      <div>
          
          <h2>All Products</h2>
                       
           
          <table>
              <tr>
                  <th>Id</th><th>Category</th><th>Name</th><th>Details</th><th>Expiry</th><th>Price</th>
              </tr>
              <% if(productData != '') { %>
                <% productData.forEach(function(item) { %> 
              <tr>
                  <td><%= item._id %></td><td><%= item.ProductCategory %></td><td><%= item.ProductName %></td><td><%= item.ProductDetail %></td><td><%= item.ProductExpiry %></td><td><%= item.ProductPrice %></td>
              </tr>
              <% }) %>            
              <% } %>
          </table>

         
      </div>
     
    
   
    
  </body>
</html>
