<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: blanchedalmond;"><%= title %></h1>
    <div class="all-anchors">
      <a href="/">Home</a>     
      <a href="/">All Products</a>
      
    </div>
    <div class="account">      
      <span>
        Signed in As:
        <em style="color: rgb(71, 157, 255);">
          <a href="/dashboardcustomer">
            <% if(loginUser){ %>  
            <%= loginUser %> 
            <% } %>
          </a>
        </em>   
      </span>     
      
      <form action="/signout" method="post" role="form">
        <button class="signout" type="submit"><em style="color: rgb(71, 157, 255);">Sign out</em></button>
      </form>
    </div>
    <h1 style="color: blanchedalmond;">Edit Page</h1>
      <% if(msg != '') { %>
        <h1 style="color: lightblue;"><%= msg %></h1>
      <% } %>
      
      <h2>Edit Data</h2>
      
      <form action="/update" method="POST" role="form">
        <input type="hidden" name="id" value="<%= existingData._id %>"/>
        <label>Product Category</label><br/>
        <input type="text" name="productcategory" value="<%= existingData.ProductCategory %>"/><br/>
        <label>Product Name</label><br/>
        <input type="text" name="productname" value="<%= existingData.ProductName %>"/><br/>
        <label>Product Detail</label><br/>
        <input type="text" name="productdetail" value="<%= existingData.ProductDetail %>"/><br/>
        <label>Product Expiry</label><br/>
        <input type="date" name="productexpiry" value="<%= existingData.ProductExpiry %>"/><br/>
        <label>Product Price</label><br/>
        <input type="number" name="productprice" min="0" value="<%= existingData.ProductPrice %>"/><br/><br/>
        <input type="submit" value="Update"/>
      </form>
     
    
   
    
  </body>
</html>
